* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.board-container {
  padding: 1rem;
  background-color: rgba(224, 37, 74, 0.685);
  width: fit-content;
  margin: 0 auto;
  color: rgba(1, 1, 1, 0.8);
}

.upper-coords,
.side-coords {
  background-color: rgb(117, 116, 114);
  color: whitesmoke;
}

.upper-coords {
  position: relative;
  height: 1rem;
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.upper-coords p {
  font-size: 12px;
  width: 12.5%;
  height: 1rem;
}

.side-coords {
  width: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.side-coords p {
  width: 100%;
  height: 12.5%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: calc(100% - 1rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: burlywood;
  transform: rotate(0deg);
}

.inner-container {
  display: flex;
  height: 30rem;
  width: 31rem;
}

.square {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: rgba(1, 1, 1, 0.1);
  width: 30%;
  height: 30%;
  border-radius: 100%;
  opacity: 0;
}

.square:hover {
  border: 2.5px solid rgb(247, 247, 247);
}

.dark {
  background-color: rgba(0, 0, 0, 0.472);
}

.board-container * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
