.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100vh;
}

/* .box {
  width: 6rem;
  height: 6rem;
  position: absolute;
  z-index: 999;
}

.box:hover {
  cursor: grab;
}

.box img {
  width: 100%;
} */

.board-container {
  padding: 1rem;
  background-color: crimson;
  width: fit-content;
  margin: 0 auto;
}

.upper-coords,
.side-coords {
  background-color: rgb(117, 116, 114);
}

.upper-coords {
  position: relative;
  height: 1rem;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 1rem; */
}

.upper-coords p {
  font-size: 12px;
  width: 12.5%;
  height: 1rem;
}

.side-coords {
  width: 1rem;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
}

.side-coords p {
  width: 100%;
  height: 12.5%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: calc(100% - 1rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: burlywood;
  transform: rotate(0deg);
}

.inner-container {
  display: flex;
  height: 30rem;
  width: 30rem;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.square:hover {
  border: 3px solid rgb(247, 247, 247);
  width: calc(12.5% - 6px);
  height: calc(12.5% - 6px);
}

.dark {
  background-color: rgba(0, 0, 0, 0.472);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
